body {
    padding-top: 56px;
    background-color: #444;
    color: white;
    background-image: url('./assets/images/BG.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.custom-navbar, .custom-footer {
    background-color: #BB3434;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: YU Gothic;
}
@media (min-width: 992px) {
    .navbar-nav {
        margin: 0 auto;
    }
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    filter: blur(5px);
}

#portfolio {
    margin: 10px auto;
}
.portfolio img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

footer {
    padding: 5px 0;
    margin-top: 24px;
}

footer p {
    margin-bottom: 5px;
}

.footer-icons a {
    color: white;
    margin: 0 5px;
}